.button {
  border: none;
  outline: none;
  background: var(--category-bg);
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: filter 300ms;
}
.button:hover {
  filter: brightness(50%);
}
