.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.title,
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  transition: color 300ms;
}
.item:hover .title {
  color: #cc3551;
}
.title {
  line-height: 1.4;
  margin: 0.6rem 0;
}
.description {
  color: #a6a1a2;
  line-height: 1.6;
}
.image_wrap {
  display: flex;
}
.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: 300ms;
}
.item:hover .image {
  transform: scale(1.15);
}
