/* Global */
:root {
  --main-bg: #262120;
  --header-bg: #332c2b;
  --category-bg: #804752;
  --input-bg: #403333;
  --text-color: #d9d2d2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--main-bg);
  color: var(--text-color);
  font-family: 'Pretendard Variable';
}
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
li {
  list-style: none;
}
span {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
input,
textarea,
select {
  border: none;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
  background: var(--input-bg);
  color: var(--text-color);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--category-bg);
  border-radius: 2rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Toast editor custom */
.toastui-editor-defaultUI {
  border: none !important;
  border-radius: 0.2rem;
  overflow: hidden;
}
.toastui-editor-defaultUI .ProseMirror,
.toastui-editor-defaultUI-toolbar {
  background-color: var(--input-bg) !important;
  font-family: 'Pretendard Variable';
  font-size: 1rem;
}
.toastui-editor-toolbar-icons {
  border-color: transparent !important;
}
.toastui-editor-toolbar-icons.codeblock {
  background-position-x: -389px !important;
}
.toastui-editor-toolbar-icons:not(:disabled):hover {
  background-color: #4d4343 !important;
}
.toastui-editor-tooltip,
.toastui-editor-tooltip .arrow {
  background-color: var(--header-bg) !important;
}
.toastui-editor-contents {
  font-family: 'Pretendard Variable' !important;
}
.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
  line-height: 1.4 !important;
}
.toastui-editor-contents p {
  color: var(--text-color) !important;
  font-size: 1.125rem;
}
.toastui-editor-contents pre {
  background-color: rgba(166, 168, 170, 0.1) !important;
}
.toastui-editor-contents blockquote {
  border-color: #807473 !important;
}
.toastui-editor-contents blockquote p {
  color: #807473 !important;
}
