:root {
  --main-bg: #262120;
  --navbar-bg: #332c2b;
  --category-bg: #804752;
  --input-bg: #403333;
  --text-color: #d9d2d2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--main-bg);
  color: var(--text-color);
  font-family: 'Pretendard Variable';
}
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
}
li {
  list-style: none;
}
span {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
input,
textarea,
select {
  border: none;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
  background: var(--input-bg);
  color: var(--text-color);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

/* Toast editor custom */
.toastui-editor-defaultUI {
  border: none !important;
  border-radius: 0.2rem;
  overflow: hidden;
}
.toastui-editor-defaultUI .ProseMirror,
.toastui-editor-defaultUI-toolbar {
  background: var(--input-bg) !important;
  font-family: 'Pretendard Variable';
  font-size: 1rem;
}
.toastui-editor-toolbar-icons {
  border-color: transparent !important;
}
.ProseMirror .placeholder {
  font-family: 'Pretendard Variable';
}
